<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Login</title>
</head>
<body>
		<div>
			<nav>
				<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/cv}">Cv Generator</a></li>
					<li><a th:href="@{/portfolio}">Portfolio</a></li>
					<li><a th:href="@{/contact}">Contact</a></li>
					<li>
						<div sec:authorize="isAuthenticated()">
							Welcome <span sec:authentication="name"></span>! <a th:href="@{/logout}">Logout?</a>
						</div>
						<div sec:authorize="!isAuthenticated()">
							<a th:href="@{/login}">Sign In</a>
						</div>
					</li>
				</ul>
			</nav>
		</div>

	<span th:if="${param.error!=null}"  style="color: red;">Invalid username or password!</span>
	<span th:if="${param.logout!=null}"  style="color: green;">See you again :)</span>
	<span th:text="${message}" style="color: green;"></span><br></br>
	<form th:action="@{/login}" method="post">
		<input type="text" name="username" placeholder="Username"></input><br></br>
		<input type="password" name="password" placeholder="Password"></input><br></br>
		<input type="submit" value="Login"></input><br></br>
	</form>
	<div th:if="${session.user!=null}">
		<a th:href="@{/cv/}+${session.user?.getId()}">Cv</a>
	</div>
	<div>
		Not registered yet? <a th:href="@{/register}">Register Now!</a>
	</div>
	
</body>
</html>