<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Register</title>
</head>
<body>
	<div>
		<nav>
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/cv}">Cv Generator</a></li>
				<li><a th:href="@{/portfolio}">Portfolio</a></li>
				<li><a th:href="@{/contact}">Contact</a></li>
				<li>
					<div sec:authorize="isAuthenticated()">
						Welcome <span sec:authentication="name"></span>! <a th:href="@{/logout}">Logout?</a>
					</div>
					<div sec:authorize="!isAuthenticated()">
						<a th:href="@{/login}">Sign In</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<span th:text="${message}" style="color: green;"></span><br></br>
	<form th:action="@{/register}" method="post">
		
		<input type="text" name="name" placeholder="Your Name"></input><br></br>
		<input type="text" name="email" placeholder="Your Email"></input><br></br>
		<input type="text" name="username" placeholder="Username"></input><br></br>
		<input type="password" name="password" placeholder="Password"></input><br></br>
		<input type="submit" value="Register"></input><br></br>
		
	</form>
</body>
</html>